
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <input [(ngModel)]="userName">
      
      <p>{{ userName }}</p>
      
      <button class="btn btn-primary" [disabled]="!!!userName" (click)="cleanUsername()">Click me!</button>
    </div>
  </div>
</div>
<hr/>