<div class="container">
  <div class="row">
    <div class="col-md-6">
      <button class="btn btn-primary" (click)="onClick()">Display Details</button>
      <p *ngIf='isVisible'>Secret Password = tuna</p>
    </div>
    <div class="col-md-6">
      <div *ngFor="let click of timesClicked; let i = index"
        [ngStyle]="{backgroundColor: i >= 4 ? 'blue' : 'none'}"
        [ngClass]="{'white-color': i >= 4}"
      >
        <p>Button clicked {{i + 1}} time{{click > 1 ? 's' : ''}}.</p>
        <p>Time: {{click}}</p>
      </div> 

    </div>
  </div>
</div>
